
.nav-links {
    list-style: none;   /* quita los puntitos */
    margin: 0;          
    padding: 0;
    display: flex;      
    gap: auto;          
  }

.nav-links li {
  }
  
  /* Links sin subrayado ni cambio de color */
  .nav-links a,
  .nav-links a:visited {
    text-decoration: none;
    color: inherit;
    margin-left: 1.5rem;
    text-align: center;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  /* Barra general */
  .navbar {
    display: flex;            
    align-items: center;      
    background-color: black;
    color: white;
    padding: 0.75rem 1.5rem;  
    text-align: center;
    
    
  }
  